web/WEB-INF/wsdl/c1law.cloudapp.net_8080/bayarmudahui/beliBarang.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://bayarmudah.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://bayarmudah.com/">

<xs:element name="beli" type="tns:beli" />

<xs:element name="beliResponse" type="tns:beliResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="beli">
<xs:sequence>
<xs:element name="pengirim" type="xs:string" minOccurs="0" />
<xs:element name="penerima" type="xs:string" minOccurs="0" />
<xs:element name="nominal" type="xs:string" minOccurs="0" />
<xs:element name="keterangan" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="beliResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:schema>